@import "./index.css";
.container,.cards,footer{
  display: flex;
}
.container{
  min-height: 100vh;
  flex-direction: column;
  padding-block: 2rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  background:url(./images/pattern-hills.svg) bottom no-repeat , url('./images/bg-stars.svg'),  hsl(235, 16%, 14%);
  background-size: contain;
}
.cards{
  gap: 3rem;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  justify-content: center;
}
h1{
  padding-block: 5rem;
  font-size: 1.3rem;
  letter-spacing: 0.7rem;
}
h1,h3{
  text-transform: uppercase;
}
h2{
  padding: 1rem;
  font-size: 4rem;
  border-radius: 10px;
  color: hsl(345, 95%, 68%);
  background-color: hsl(236, 21%, 26%);
}
h3{
  padding-top: 1.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: hsl(237, 18%, 59%);
}
footer{
  gap: 2rem;
  justify-content: center;
}
svg{
  cursor: pointer;
  fill: #8385A9;
}
svg:hover{
  fill: #fb6087;
}
@media(max-width:760px){
  .container{
    background-size: 1100px;
  }
  .cards{
    gap: 1rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    letter-spacing: 0.3rem;
  }
}